/* # Plugins
---------------------------------------------------------------------------------------------------- */

/* ## Genesis eNews Extended
--------------------------------------------- */

.enews-widget,
.enews-widget .widget-title {
	color: $color-white;
}

.sidebar .widget.enews-widget {
	background-color: $color-black;
}

.enews-widget input,
.enews-widget input:focus {
	border: 1px solid $color-black;
}

.enews-widget input {
	@include font(1.6, 2.4);
	margin-bottom: 16px;
}

.enews-widget input[type="submit"] {
	background-color: $color-primary-one;
	color: $color-white;
	margin: 0;
	width: 100%;
}

.enews-widget input:hover[type="submit"],
.enews-widget input:focus[type="submit"]  {
	background-color: darken($color-primary-one, 10%);
	color: $color-white;
}

.enews form + p {
	margin-top: 24px;
}

/* ## Jetpack
--------------------------------------------- */

#wpstats {
	display: none;
}


/* # Skip Links
--------------------------------------------- */
.genesis-skip-link {
	margin: 0;
}

.genesis-skip-link li {
	height: 0;
	width: 0;
	list-style: none;
}

/* Display outline on focus */
:focus {
	color: $color-black;
	outline: $color-primary-one solid 1px;
}