/* # Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
	position:relative;
	z-index:1200;
	background-color: darken($color-primary-one, 10%);
	@include font(1.4, 2.0);
	padding: 20px 0;
	text-align: center;
}

.site-footer a{
	color:$color-white;
	text-decoration:none;
}

.site-footer p {
	margin-bottom: 0;
}