/* # Site Navigation
---------------------------------------------------------------------------------------------------- */

.genesis-nav-menu {
	@include font(1.6, 2.4);
	line-height: 1;
}

.genesis-nav-menu .menu-item {
	display: inline-block;
	text-align: left;
}

.genesis-nav-menu a {
	color: $color-black;
	font-weight:400;
	text-decoration: none;
	display: block;
	padding: 30px 24px;
	text-transform:uppercase;
}

.genesis-nav-menu a:hover,
.genesis-nav-menu a:focus,
.genesis-nav-menu .current-menu-item > a,
.genesis-nav-menu .sub-menu .current-menu-item > a:hover,
.genesis-nav-menu .sub-menu .current-menu-item > a:focus  {
	color: $color-primary-one;
	text-decoration: none;
}

.genesis-nav-menu .sub-menu {
	left: -9999px;
	opacity: 0;
	position: absolute;
	-webkit-transition: opacity .4s ease-in-out;
	-moz-transition:    opacity .4s ease-in-out;
	-ms-transition:     opacity .4s ease-in-out;
	-o-transition:      opacity .4s ease-in-out;
	transition:         opacity .4s ease-in-out;
	width: 320px;
	z-index: 99;
}

.genesis-nav-menu .sub-menu a {
	background-color: $color-primary-one;
	border-bottom: 1px solid $color-white;
	border-top: 0;
	@include font(1.6, 2.4);
	padding: 20px;
	position: relative;
	width: 320px;
	word-wrap: break-word;
}

.genesis-nav-menu .sub-menu .sub-menu {
	margin: -55px 0 0 199px;
}

.genesis-nav-menu .menu-item:hover {
	position: static;
}

.genesis-nav-menu .menu-item:hover > .sub-menu {
	left: auto;
	opacity: 1;
}

.genesis-nav-menu > .first > a {
	padding-left: 0;
}

.genesis-nav-menu > .last > a {
	padding-right: 0;
}

.genesis-nav-menu > .right {
	color: $color-white;
	float: right;
	list-style-type: none;
	padding: 30px 0;
}

.genesis-nav-menu > .right > a {
	display: inline;
	padding: 0;
}

.genesis-nav-menu > .rss > a {
	margin-left: 48px;
}

.genesis-nav-menu > .search {
	padding: 10px 0 0;
}

/* ## Accessible Menu
--------------------------------------------- */

.menu .menu-item:focus {
	position: static;
}

.menu .menu-item > a:focus + ul.sub-menu,
.menu .menu-item.sfHover > ul.sub-menu {
	left: auto;
	opacity: 1;
}

/* ## Site Header Navigation
--------------------------------------------- */

.site-header .sub-menu {
	border-top: none;
}

.site-header .sub-menu .sub-menu {
	margin-top: -56px;
}

.site-header .genesis-nav-menu li li {
	margin-left: 0;
}

/* ## Primary Navigation
--------------------------------------------- */

.nav-primary {
	display:block;
	float:left;
	width:100%;
	text-align:center;
}

.nav-primary .genesis-nav-menu {
}

.nav-primary .genesis-nav-menu a {
	color: $color-primary-one;
	text-decoration: none;
}

.nav-primary .genesis-nav-menu a:hover,
.nav-primary .genesis-nav-menu a:focus,
.nav-primary .genesis-nav-menu .current-menu-item > a {
	color: $color-black;
	text-decoration: none;
}

.nav-primary .genesis-nav-menu .sub-menu a {
	color: $color-white;
}

.nav-primary .genesis-nav-menu .sub-menu a:hover,
.nav-primary .genesis-nav-menu .sub-menu a:focus,
.nav-primary .genesis-nav-menu .sub-menu .current-menu-item > a {
	background-color: darken($color-primary-one, 10%);
	text-decoration: none;
}

/* ## Secondary Navigation
--------------------------------------------- */

.nav-secondary {
	background-color: $color-white;
	border-bottom:1px solid $color-primary-one;
}

.nav-secondary .genesis-nav-menu .sub-menu a {
	color: $color-white;
}

.nav-secondary .genesis-nav-menu .sub-menu a:hover,
.nav-secondary .genesis-nav-menu .sub-menu a:focus,
.nav-secondary .genesis-nav-menu .sub-menu .current-menu-item > a {
	background-color: darken($color-primary-one, 10%);
	text-decoration: none;
}

/* Responsive Menu
--------------------------------------------- */

.responsive-menu-icon {
	cursor: pointer;
	display: none;
	margin-bottom: -1px;
	text-align: center;
}

.responsive-menu-icon::before {
	content: "\f333";
	display: inline-block;
	font: normal 20px/1 'dashicons';
	margin: 0 auto;
	padding: 10px;
}