/* # Site Header
---------------------------------------------------------------------------------------------------- */

.site-header {
	display: block;
	position:fixed;
	background-color: rgba(255, 255, 255, 0);
	width:100%;
	z-index:1200;
}

.site-header .wrap {
	padding: 0px 0;
	width:90%;
	max-width:1200px;
	
}

/* ## Title Area
--------------------------------------------- */

.title-area {
	float: left;
	padding: 20px 0 0;
	width: 100%;
}

.header-full-width .title-area {
}

.site-title {
	@include font(3.2, 3.2);
	font-weight: 400;
}

.site-title a,
.site-title a:hover,
.site-title a:focus {
	color: $color-black;
}

.header-image .site-title > a {
	background: url(images/logo.png) no-repeat center;
	float: left;
	min-height: 96px;
	width: 100%;
}

.site-description {
	@include font(1.6, 2.4);
	font-weight: 300;
}

.site-description,
.site-title {
	margin-bottom: 0;
}

.header-image .site-description,
.header-image .site-title {
	display: block;
	text-indent: -9999px;
}

/* ## Widget Area
--------------------------------------------- */

.site-header .widget-area {
	float: right;
	text-align: right;
	width: 800px;
}