/* # Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
	position:relative;
	z-index:1200;
	background-color: $color-white;
	@include font(1.0, 1.2);
	padding: 5px 0;
	text-align: center;
}

.site-footer a{
	color:$color-typo_black;
	text-decoration:none;
}

.site-footer p {
	margin-bottom: 0;
}