/* # Site Header
---------------------------------------------------------------------------------------------------- */

.site-header.dark{
	-webkit-transition: all 0.7s ease-in-out 0.5s;
	-moz-transition: all 0.7s ease-in-out 0.5s;
	-ms-transition: all 0.7s ease-in-out 0.5s;
	-o-transition: all 0.7s ease-in-out 0.5s;
	transition: all 0.7s ease-in-out 0.5s; 
}

.site-header {
	display: block;
	position:fixed;
	background-color: rgba(0, 0, 0, 0);
	width:100%;
	padding:20px 0;
	z-index:1200;
	
	-webkit-transition: all 0.7s ease-in-out;
	-moz-transition: all 0.7s ease-in-out;
	-ms-transition: all 0.7s ease-in-out;
	-o-transition: all 0.7s ease-in-out;
	transition: all 0.7s ease-in-out; 
}

.site-header .wrap {
	padding: 0px 0;
	width:90%;
	max-width:1200px;
	
}

.site-header.dark {
	background-color: rgba(0, 0, 0, 0.95);
	border-bottom: 1px solid #000;
	box-shadow: 3px 4px 8px 0px rgba(0, 0, 0, 0); 
}

.site-header.dark .title-area {
    width: 96px;
	-webkit-transition: all 0.7s ease-in-out;
	-moz-transition: all 0.7s ease-in-out;
	-ms-transition: all 0.7s ease-in-out;
	-o-transition: all 0.7s ease-in-out;
	transition: all 0.7s ease-in-out; 
}
.title-area {
    -webkit-transition: all 0.7s ease-in-out;
	-moz-transition: all 0.7s ease-in-out;
	-ms-transition: all 0.7s ease-in-out;
	-o-transition: all 0.7s ease-in-out;
	transition: all 0.7s ease-in-out;
}

.header-image .site-header.dark .site-title > a {
	background: url(images/smalltile.png) no-repeat center;
	min-height: 70px;
}

.site-header.dark .nav-primary {
	float: right;
    width: auto;
	-webkit-transition: all 0.7s ease-in-out 0.5s ;
	-moz-transition: all 0.7s ease-in-out 0.5s ;
	-ms-transition: all 0.7s ease-in-out 0.5s ;
	-o-transition: all 0.7s ease-in-out 0.5s ;
	transition: all 0.7s ease-in-out 0.5s ; 
}
.site-header.dark .wrap {
	width:100%;
}
.nav-primary {
	-webkit-transition: all 0.7s ease-in-out 0.5s ;
	-moz-transition: all 0.7s ease-in-out 0.5s ;
	-ms-transition: all 0.7s ease-in-out 0.5s ;
	-o-transition: all 0.7s ease-in-out 0.5s ;
	transition: all 0.7s ease-in-out 0.5s ;
}

/* ## Title Area
--------------------------------------------- */

.title-area {
	float: left;
	padding: 0;
	width: 100%;
}

.header-full-width .title-area {
}

.site-title {
	@include font(3.2, 3.2);
	font-weight: 400;
}

.site-title a,
.site-title a:hover,
.site-title a:focus {
	color: $color-black;
}

.header-image .site-title > a {
	background: url(images/logo.png) no-repeat center;
	float: left;
	min-height: 96px;
	width: 100%;
}

.site-description {
	@include font(1.6, 2.4);
	font-weight: 300;
}

.site-description,
.site-title {
	margin-bottom: 0;
}

.header-image .site-description,
.header-image .site-title {
	display: block;
	text-indent: -9999px;
}

/* ## Widget Area
--------------------------------------------- */

.site-header .widget-area {
	float: right;
	text-align: right;
	width: 800px;
}