/* ## Work
---------------------------------------------------------------------------------------------------- */

/* ## Work archive
--------------------------------------------- */

.post-type-archive-work{
	background-color:$color-black;
}

.post-type-archive-work .site-inner,
.single-work .site-inner{
	margin: 0 auto;
    width: 100%;
    max-width: 100%;
	padding-top: 0px;
}

.post-type-archive-work article.type-work a{
	text-decoration:none;
}
/*
.post-type-archive-work article.type-work a img {
	-webkit-filter : grayscale(0%);
	filter : grayscale(0%);
	-webkit-transition: -webkit-filter 1s ease-in-out both;
	transition: filter 1s ease-in-out both;
}
	
.post-type-archive-work article.type-work a img:hover{
	-webkit-filter : grayscale(75%);
	filter : grayscale(75%);
}
*/
.post-type-archive-work article.type-work .entry-title a,
.post-type-archive-work article.type-work .entry-title a:hover{
	color:$color-white;
	text-decoration:none;
	font-weight:100;
}

.post-type-archive-work article.type-work .entry-content{
	display:none;
}

.post-type-archive-work article.type-work .entry-header{
	display:block;
	position:absolute;
	z-index:1200;
	color:$color-white;
	left:5%;
	bottom:10px;
}
/*
.post-type-archive-work article.type-work p.entry-meta {
	position:absolute;
	z-index:1200;
}
*/
.post-type-archive-work article.type-work .entry-footer{
	position:absolute;
	z-index:1200;
}

/* Entry
---------------------- */
.post-type-archive-work  article.work{
	position:relative;
	display:block;
	float:left;
	@include grid(5, 0, 1200);
	margin-bottom:0px;
}

.post-type-archive-work  article.work{
	overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1,1);
    transform: translateZ(0) scale(1,1);
	background-color:$color-black;
}

.post-type-archive-work  article.work::after{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.post-type-archive-work  article.work::after{
	content: '';
    background-color: inherit;
    -webkit-transition: 3s -webkit-transform cubic-bezier(.23,1,.32,1);
    transition: 3s transform cubic-bezier(.23,1,.32,1);
    opacity: .9;
    -webkit-transform: scale(2) translateX(-100%) translateY(-100%) translateZ(0) rotate(-45deg);
    transform: scale(2) translateX(-100%) translateY(-100%) translateZ(0) rotate(-45deg);
}

.post-type-archive-work article.work:hover::after {
    -webkit-transform: scale(2) rotate(-45deg) translateZ(0);
    transform: scale(2) rotate(-45deg) translateZ(0);
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
}

.image-background {
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    position: relative;
}
.hover-out{
	-webkit-transition: .75s -webkit-transform cubic-bezier(.23,1,.32,1);
    transition: .75s transform cubic-bezier(.23,1,.32,1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-delay: .1s;
    transition-delay: .1s;
    margin: -1px 0;
}

article.work:hover .hover-out {
    -webkit-transform: scale(1.1) translateZ(0);
    transform: scale(1.1) translateZ(0);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

/* ## Work Entries
--------------------------------------------- */

/* Category links */
.single-work .entry-categories a{
	color:$color-white;
	text-decoration:none;
	font-family:$font-headlines;
	position:relative;
	padding: 0 0.25em;
	-webkit-transition: color 0.6s ease-in-out;
	transition: color 0.6s ease-in-out;
	text-decoration:none;
}

.single-work .entry-categories a:hover {
	color: $color-white;
}

.single-work .entry-categories a::before,
.single-work .entry-categories a::after {
	position: absolute;
	top: 0;
	font-weight: 100;
	font-size: 110%;
	line-height: 1;
	opacity: 0;
	-webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
	transition: opacity 0.2s, transform 0.2s;
}

.single-work .entry-categories a::before {
	left: -0.1em;
	content: '[';
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
}

.single-work .entry-categories a::after {
	right: -0.1em;
	content: ']';
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
}

.single-work .entry-categories a:hover::before,
.single-work .entry-categories a:hover::after {
	opacity: 1;
	-webkit-transform: translateX(0);
	transform: translateX(0);
}
/* Category links End */

.image-section{
	background-attachment: scroll;
    background-color: $color-black;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.page .entry-title,
.single-work .entry-title {
    position: absolute;
    left: 5%;
    bottom: 70px;
	@include font(4.8, 4.2);
	font-weight:100;
    color: $color-white;
}

.page .image-section {
	/*
	background:url(images/pattern_01.png);
	*/
}

.single-work .entry-meta{
	position:absolute;
	left:5%;
	bottom:50px;
	color:$color-white;
}

.single-work .entry {
    margin-bottom: 0px;
}

.single-work .gridcontainer {
	padding:120px 0;
}

.single-work .coll_aside h3,
.single-work .coll_aside .aside_link_title{
	border-bottom:1px solid $color-black;
}
.aside_link_title{
	margin-top:40px;
}